@page "/"

<body>
    <div class='fullscreenDiv'>
        <div class="centerado">Bienvenido a la web Manejador de Iglesia ✟</div>
    </div>
</body>

<style>
    .centerado {
        font-family: Arial;
        font-weight: bolder;
        color: dodgerblue;
        font-size: 80px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }    
</style>
